<header class="header navbar">
 <div class="container-fluid">
  <!-- <span class="main-title"><%= link_to "Hair Salon", "#", id: "logo" %></span> -->
  <span class="main-title"><%= link_to "Hair Salon", "#", id: "logo" %></span>
  <span class="description">Hair Make</span>
  <div class="row">
    <div class="nav navbar-justfited col-md-12">
      <%= link_to "TOP", "#" %>
      <%= link_to "SALON/PRICE", "#" %>
      <%= link_to "STYLE" %>
      <%= link_to "STAFF" %>
      <div class="user-nav">
        <%= link_to "login", "#"%>
      </div>
    </div>
  </div>
 </div>
</header>
