<header class="header navbar navbar-fixed-top ">
 <div class="container">
  <!-- <span class="main-title"><%= link_to "Hair Salon", "#", id: "logo" %></span> -->
  <span class="main-title"><%= link_to "Hair Salon", "#", id: "logo" %></span>
  <span class="description">Hair Make</span>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "TOP", "#" %>
      <%= link_to "SALON/PRICE", "#" %>
      <%= link_to "STYLE" %>
      <%= link_to "STAFF" %>
    </div>
  </div>
 </div>
</header>
