<header class="header navbar">
 <div class="container-fluid">
  <!-- <span class="main-title"><%= link_to "Hair Salon", "#", id: "logo" %></span> -->
  <span class="main-title"><%= link_to "Hair Salon", root_path, id: "logo" %></span>
  <span class="description">Hair Make</span>
  <div class="row">
    <div class="nav navbar-justfited col-md-12">
      <%= link_to "TOP", "#" %>
      <%= link_to "SALON/PRICE", "#" %>
      <%= link_to "STYLE" %>
      <%= link_to "STAFF" %>
      <div class="user-nav">
        <% if user_signed_in? %>
<strong><%= link_to current_user.username, current_user %></strong>
<%= link_to "プロフィール", edit_user_registration_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<!--ログインしていない場合-->
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to 'sign up', new_user_registration_path %>
<% end %>
      </div>
    </div>
  </div>
 </div>
</header>
