<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <div class="contents-background">
        <div class="container">
          <div class="content-area01">
            <h1>画像を表示させる</h1>
          </div>
          <div class="content-area02">
            <h2>CONCEPT</h2>
          </div>

        </div>
      </div>
    <%= yield %>
  </body>
</html>
